<!doctype html>
<html>
	<head>
		<title>TODO</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0" />
		<link href='styles.css' rel="stylesheet">
	</head>
	<body>
		<section class="todoapp"><%- reactOutput %></section>
		<script src="/bundle.js"></script>
	</body>
</html>